.body {

    background: url(../concrete_seamless.png)
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
}




.navbar-brand {
    background-color: #4aaaa5;
    height: 90px;
    margin-top: 40px;
    margin-left: 40px;
    float: left;
    width: 250px;
    height: 90px;
    text-align: center;
    text-align: justify; 

}

.navbar-nav{
    text-align: right;
    margin-left: 700px; 


}
.container {
    background-image: url("/concrete_seamless.png");
    width: 100%;
    height: auto;
    background-size: cover;
    margin-top: 40px; 
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

.jumbotron {
    background-color: #ffffff;
    border: 1px solid #dddddd; 
    margin-top: 50px;

}



.col-md-12 {
    color: #4aaaa5;

}